* {
}
@media only screen and (min-width: 768px) {
  header {
    width: 1200px;
    height: 84px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #192140;
    z-index: 100;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 60px;

    position: absolute;
    width: 614px;
    height: 48px;
    right: 80px;
    top: calc(50% - 48px / 2);
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 390px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .blog {
    width: 34px;
    height: 24px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    text-align: center;
    text-decoration-line: underline;

    color: #dcf10d;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .courses {
    width: 94px;
    height: 24px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    text-align: center;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .freeweb {
    width: 108px;
    height: 24px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    text-align: center;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .review {
    width: 64px;
    height: 24px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    text-align: center;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 164px;
    height: 48px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .sgnup {
    width: 58px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    /* identical to box height, or 16px */
    letter-spacing: -0.01em;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .login-btn {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 5px;

    width: 86px;
    height: 48px;

    border: 1px solid #0266ff;
    border-radius: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .login {
    width: 46px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    /* identical to box height, or 16px */
    letter-spacing: -0.01em;

    color: #0266ff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .logo-ref {
    position: absolute;
    left: 6.67%;
    right: 84.19%;
    top: 34.52%;
    bottom: 34.52%;
    height: 26px;
    width: 109.71px;
  }
  .logo-menu-burger {
    display: none;
  }

  /* body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 1200px;
    height: 1455px;
} */
  .divclassbody {
    /* width: 1200px;
    height: 1097px;

    background: #FFFFFF; */

    /* Inside auto layout */
    /* flex: none;
    order: 1;
    flex-grow: 0; */
    position: relative;
    width: 1200px;
    height: 1097px;
    margin-top: 84px;
  }

  .card1 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 810px;
    top: 737px;
    border-radius: 6px;
  }

  .cardinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 146px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoA {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 126px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img1 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: url(refocus_leadership_sci-fi_style_blurred_background_concept_art__c4a66a99-86b1-4425-a002-7009d0f6b601.png);
  }

  .icon-A {
    box-sizing: border-box;

    width: 20px;
    height: 20px;

    border: 1px solid #192140;
    border-radius: 10000px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .icon-A {
    position: absolute;
    left: 29%;
    right: 26%;
    top: 28%;
    bottom: 27%;

    background: #192140;
  }

  .title {
    width: 280px;
    height: 52px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;
    color: #10131c;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 34px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }

  .line-A {
    width: 280px;
    height: 0px;

    border: 0.5px solid #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .post-info-A {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .sort-date-box {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 5px;

    width: 125px;
    height: 24px;

    border: 1px solid #c0bfcf;
    border-radius: 40px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text-date {
    width: 105px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    text-align: center;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .sort-fav-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;

    width: 53px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .icon-fav {
    width: 24px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url("../icon/active.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-fav {
    width: 27px;
    height: 16px;

    /* Text Small Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .card2 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 440px;
    top: 738px;

    border-radius: 6px;
  }

  .cardinfoB {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 146px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoB {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 126px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img2 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(refocus_Get_the_best_of_smb_a3d1ac0e-bd9f-4d6e-b2f6-a895466b6e60.png);
  }

  .titleB {
    width: 280px;
    height: 78px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card3 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 80px;
    top: 740px;

    border-radius: 6px;
  }

  .cardinfoC {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoC {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 70px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img3 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(refocus_resolution_composition_neon_color_palette_photo_realist_9e70b497-281b-41ac-b442-a5b3ed912f6a.png);
  }

  .titleC {
    width: 280px;
    height: 26px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* identical to box height, or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card4 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 810px;
    top: 399px;
    border-radius: 6px;
  }

  .cardinfoD {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 142px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoD {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 122px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img4 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(refocus_Cost_an_arm_and_a_leg_b07af071-0aed-4ce9-9ef7-2e392dcf22c0.png);
  }

  .titleD {
    width: 280px;
    height: 78px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card5 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 440px;
    top: 399px;

    border-radius: 6px;
  }

  .cardinfoE {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 116px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoE {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 96px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img5 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(refocus_emotional_Nadine_Alexis_Paguia_Lustre_cyborg_working_wi_f55ea7cb-123a-461e-88ee-80ef72dde0c71.png);
  }

  .titleE {
    width: 279px;
    height: 52px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card6 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 80px;
    top: 400px;

    border-radius: 6px;
  }

  .cardinfoF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 172px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoF {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 152px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img6 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(refocus_Data_Matrix_Codes_in_sci-fi_style_blurred_background_co_6395c831-089c-45e7-a0b8-21758199a4db.png);
  }

  .titleF {
    width: 280px;
    height: 78px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .card7 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 800px;
    top: 60px;

    border-radius: 6px;
  }

  .cardinfoG {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 146px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoG {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 126px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img7 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(02_00045.png);
  }

  .titleG {
    width: 279px;
    height: 52px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .card8 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 440px;
    top: 60px;

    border-radius: 6px;
  }

  .cardinfoH {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 116px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoH {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 96px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img8 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: url(refocus_shot_of_sci-fi_cyberpunk_style_image_of_a_wealthy_attra_2aca334f-f1de-439c-96c2-ad69d4a0587a.png);
  }

  .titleH {
    width: 280px;
    height: 52px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card9 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 80px;
    top: 60px;

    border-radius: 6px;
  }

  .cardinfoI {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 172px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoI {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 280px;
    height: 152px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img9 {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: url(refocus_shot_of_sci-fi_cyberpunk_style_image_2_attractive_chara_3bfbda9a-b5ba-419d-a70c-7d13fc0b7075.png);
  }

  .titleI {
    width: 280px;
    height: 78px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .icon-cross {
    box-sizing: border-box;

    position: absolute;
    left: 89.06%;
    right: 4.69%;
    top: 5%;
    bottom: 88.33%;

    border: 1px solid #9d9db5;
    border-radius: 10000px;
    background-image: url("../icon/cross.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .shadow {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  }

  .footer {
    width: 1200px;
    height: 274px;

    background: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .leg-desk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 311px;
    height: 16px;
    left: 800px;
    top: 198px;
  }

  .frame-B {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 300px;
    height: 56px;
    left: 800px;
    top: 60px;
  }

  .follow-us {
    width: 53px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.02em;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame-A {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: relative;
    width: 630px;
    height: 154px;
    left: 80px;
    top: 5px;
  }

  .ref-desk {
    width: 131px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #ffffff;

    opacity: 0.4;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .policy-desk {
    width: 74px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #ffffff;

    opacity: 0.4;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .dot-desk {
    width: 4px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #ffffff;

    opacity: 0.4;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .terms-desk {
    width: 72px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #ffffff;

    opacity: 0.4;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
  }
  .leg-mobile,
  .policy-mobile,
  .dot-mobile,
  .terms-mobile {
    display: none;
  }
  .follow-us-mob,
  .insta-mob,
  .insta1-mob,
  .fb-mob,
  .tw-mob,
  .Wu-mob,
  .tk-mob,
  .yt-mob {
    display: none;
  }

  .social-net {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 300px;
    height: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .blog1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 547px;
    height: 57px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .blog-text {
    width: 43px;
    height: 21px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    /* identical to box height, or 21px */
    letter-spacing: -0.02em;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 547px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .menu-1 {
    width: 68px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    letter-spacing: -0.03em;
    color: #d7f8ff;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .menu-2 {
    width: 82px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .menu-3 {
    width: 37px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .menu-4 {
    width: 86px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .menu-5 {
    width: 44px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .menu-6 {
    width: 57px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
  }

  .menu-7 {
    width: 53px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
  }

  .courses-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 196px;
    height: 57px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .courses-text {
    width: 113px;
    height: 21px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    /* identical to box height, or 21px */
    letter-spacing: -0.02em;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .courses-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 196px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .course-1 {
    width: 77px;
    height: 16px;

    /* Text Small Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .course-2 {
    width: 99px;
    height: 16px;

    /* Text Small Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .footer-menu-mobile-A,
  .footer-menu-mobile-B,
  .footer-menu-mobile-C {
    display: none;
  }
  .menu-1-mobile,
  .menu-2-mobile,
  .menu-3-mobile,
  .menu-4-mobile,
  .menu-5-mobile,
  .menu-6-mobile,
  .menu-7-mobile {
    display: none;
  }
  .favorite {
    background-image: url("../icon/fav.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title:hover {
    opacity: 90;
    background-color: #dcf10d;
  }
  .icon-A1 {
    width: 24px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url("../icon/done.png");
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
  }
}
@media only screen and (max-width: 767px) {
  header {
    width: 320px;
    height: 90px;

    background: #192140;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 100;
  }
  .logo-ref {
    position: absolute;
    width: 76px;
    height: 17px;
    left: 14px;
    top: 52px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* leading-trim and text-edge are draft CSS properties.
        
        Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
        */
    /* leading-trim: both;
            text-edge: cap; */
    letter-spacing: 0.1em;

    /* Primary/yellow 01 */
    color: #dcf10d;
  }
  .logo-menu-burger {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 40px;
  }

  .menu-container {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .blog {
    display: none;
  }

  .courses {
    display: none;
  }

  .freeweb {
    display: none;
  }

  .review {
    display: none;
  }

  .btn {
    display: none;
  }

  .sgnup {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px;

    width: 320px;
    height: 429px;

    background: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  .pc-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 290px;
    height: 328px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .frame-A {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 290px;
    height: 176px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .blog1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 290px;
    height: 99px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .blog-text {
    width: 43px;
    height: 21px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    /* identical to box height, or 21px */
    letter-spacing: -0.02em;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .footer-menu {
    display: none;
  }
  .menu-1,
  .menu-2,
  .menu-3,
  .menu-4,
  .menu-5,
  .menu-6,
  .menu-7 {
    display: none;
  }
  .footer-menu-mobile-A {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 160px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .footer-menu-mobile-B {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 187px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  .footer-menu-mobile-C {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 120px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .menu-1-mobile {
    width: 68px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .menu-2-mobile {
    width: 82px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .menu-3-mobile {
    width: 37px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .menu-4-mobile {
    width: 86px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .menu-5-mobile {
    width: 44px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .menu-6-mobile {
    width: 57px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .menu-7-mobile {
    width: 53px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .courses-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 290px;
    height: 47px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .courses-text {
    width: 113px;
    height: 21px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    /* identical to box height, or 21px */
    letter-spacing: -0.02em;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .courses-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 186px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .course-1 {
    width: 77px;
    height: 16px;

    /* Text Small Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .course-2 {
    width: 99px;
    height: 16px;

    /* Text Small Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #d7f8ff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .leg-desk,
  .ref-desk,
  .policy-desk,
  .dot-desk,
  .terms-desk {
    display: none;
  }
  .follow-us,
  .insta,
  .insta1,
  .fb,
  .tw,
  .Wu,
  .tk,
  .yt {
    display: none;
  }
  .follow-us-mob {
    width: 53px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.02em;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .leg-mobile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 290px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .policy-mobile {
    width: 74px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .dot-mobile {
    width: 4px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .terms-mobile {
    width: 72px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 34px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }

  .line-A {
    width: 250px;
    height: 0px;

    border: 0.5px solid #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .post-info-A {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .sort-date-box {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 5px;

    width: 125px;
    height: 24px;

    border: 1px solid #c0bfcf;
    border-radius: 40px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text-date {
    width: 105px;
    height: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    text-align: center;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .sort-fav-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;

    width: 53px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .icon-fav {
    width: 24px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url("../icon/active.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-fav {
    width: 27px;
    height: 16px;

    /* Text Small Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    /* identical to box height, or 16px */
    letter-spacing: -0.03em;

    color: #9d9db5;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .card9 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 15px;
    top: 40px;

    border-radius: 6px;
  }

  .cardinfoI {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 151px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoI {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 131px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img9 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;

    background: url(refocus_shot_of_sci-fi_cyberpunk_style_image_2_attractive_chara_3bfbda9a-b5ba-419d-a70c-7d13fc0b7075.png);
  }

  .titleI {
    width: 190px;
    height: 57px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;

    /* or 19px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .icon-cross {
    box-sizing: border-box;

    position: absolute;
    left: 87.93%;
    right: 5.17%;
    top: 5.84%;
    bottom: 86.38%;

    border: 1px solid #9d9db5;
    border-radius: 10000px;
  }

  .shadow {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  }
  .divclassbody {
    position: relative;
    width: 320px;
    height: 2573px;
    margin-top: 20px;

    background: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .card8 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 15px;
    top: 317px;

    border-radius: 6px;
  }

  .cardinfoH {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 102px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoH {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 82px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img8 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(refocus_shot_of_sci-fi_cyberpunk_style_image_of_a_wealthy_attra_2aca334f-f1de-439c-96c2-ad69d4a0587a.png);
  }

  .titleH {
    width: 250px;
    height: 38px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;

    /* or 19px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .card7 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 14px;
    top: 594px;

    border-radius: 6px;
  }

  .cardinfoG {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 151px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoG {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 131px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img7 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(02_00045.png);
  }

  .titleG {
    width: 190px;
    height: 57px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;

    /* or 19px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .card6 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 14px;
    top: 871px;

    border-radius: 6px;
  }

  .cardinfoF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 151px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 131px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img6 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(refocus_Data_Matrix_Codes_in_sci-fi_style_blurred_background_co_6395c831-089c-45e7-a0b8-21758199a4db.png);
  }

  .titleF {
    width: 280px;
    height: 78px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .card5 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 14px;
    top: 1148px;

    border-radius: 6px;
  }

  .cardinfoE {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 102px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoE {
    /* Card info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 82px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img5 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(refocus_emotional_Nadine_Alexis_Paguia_Lustre_cyborg_working_wi_f55ea7cb-123a-461e-88ee-80ef72dde0c71.png);
  }

  .titleE {
    width: 190px;
    height: 38px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;

    /* or 19px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .card4 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 14px;
    top: 1425px;

    border-radius: 6px;
  }

  .cardinfoD {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 121px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoD {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 101px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img4 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(refocus_Cost_an_arm_and_a_leg_b07af071-0aed-4ce9-9ef7-2e392dcf22c0.png);
  }

  .titleD {
    width: 190px;
    height: 57px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;

    /* or 19px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .card3 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 14px;
    top: 1702px;

    border-radius: 6px;
  }

  .cardinfoC {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 83px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoC {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 63px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img3 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(refocus_resolution_composition_neon_color_palette_photo_realist_9e70b497-281b-41ac-b442-a5b3ed912f6a.png);
  }

  .titleC {
    width: 190px;
    height: 19px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;

    /* or 19px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .card2 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 14px;
    top: 1979px;

    border-radius: 6px;
  }

  .cardinfoB {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 121px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoB {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 101px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img2 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(refocus_Get_the_best_of_smb_a3d1ac0e-bd9f-4d6e-b2f6-a895466b6e60.png);
  }

  .titleB {
    width: 190px;
    height: 57px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;

    /* or 19px */
    letter-spacing: -0.02em;

    color: #10131c;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .card1 {
    position: absolute;
    width: 290px;
    height: 257px;
    left: 14px;
    top: 2256px;

    border-radius: 6px;
  }

  .cardinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;

    position: absolute;
    height: 151px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #f8f9fc;
    border-radius: 0px 0px 6px 6px;
  }

  .card-infoA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 131px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .img1 {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 290px;
    background: url(refocus_leadership_sci-fi_style_blurred_background_concept_art__c4a66a99-86b1-4425-a002-7009d0f6b601.png);
  }

  .icon-A {
    box-sizing: border-box;

    width: 20px;
    height: 20px;

    border: 1px solid #192140;
    border-radius: 10000px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url("../icon/done.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon-A {
    position: absolute;
    left: 29%;
    right: 26%;
    top: 28%;
    bottom: 27%;

    background: #192140;
  }

  .title {
    width: 280px;
    height: 52px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    /* or 26px */
    letter-spacing: -0.02em;
    color: #10131c;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .favorite {
    background-image: url("../icon/fav.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 5px;
    grid-auto-flow: dense;
}
.container img {
    width: 100%;
    height: 100%;
}
.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
} */
